.wb-breaking-news-ticker .bn-controls button{
	padding: 0;
}

.wb-breaking-news-ticker .bn-news li a{
	text-decoration: none;
}
.wb-breaking-news-ticker{
	border: none;
}

.wbnt_title_seperator{
	display: inline-block;
	height: 100%;
	letter-spacing: 10px;
}
.wbnt_title_seperator i{
	font-size: 10px;
	vertical-align: middle;
}

.wbnt-el-heading-img-exist{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	overflow: hidden;
}
.wbnt-el-custom-img{
	 display: inline-block;
	 max-width: 40px;
}
.wbnt-el-custom-img img{
	display: block;
	max-width: 100%;
	height: auto;
}

.wbnt-el-img{
	margin-right: 5px;
}

.wb-breaking-news-ticker.bn-direction-rtl .wbnt-el-img{
	margin-right: 0;
}
.wb-breaking-news-ticker.bn-direction-rtl .wbnt-el-img{
	margin-left: 5px;
}
.wbnt_title_date_separator{
	display: inline-block;
	padding: 0 5px;
	margin-right: 5px;
}
.wb-breaking-news-ticker.bn-direction-rtl .wbnt_title_date_separator{
	margin-right: 0px;	
	margin-left: 5px;	
}